.status {
  padding: 0.5rem;
  border-bottom: solid 1px #ddd;
  font-size: 0.9rem;
}

.isRetweet {
  // border: solid 1px #00f !important;
}

.isQuote {
  // border: solid 4px #f66 !important;
}

.text {
  border: dashed 1px rgba(255, 0, 0, 0.7);
}

.footer {
}

.username {
  border: dashed 1px #f00;
}

.timestamp {
  border: dashed 1px #00f;
}
