.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.titleBarWrap {
  /*border: solid 1px #f00;*/
}

.titleBar {
  height: 40px;
  background: #37474F;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.devToolbar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 6px 0 0;
}
