.view {
  height: 100vh;
}

.timeline {
  position: absolute;
  overflow: hidden;
  overflow-y: scroll;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
}

.titleBar {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 40px;
  background: #37474F;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  align-items: center;
  justify-content: center;
}

.titleBar h1 {
  font-size: 1em;
  margin-bottom: 0;
}
