@import '~material-colors/dist/colors';

.statusBody {}

.meta {
  // font-weight: bold;
  color: $md-blue-grey-500;
  float: right;
}

.status-body-text {
  margin-bottom: 0;
}

.quoteStatusBody {
  margin-right: -(1rem / 2);
  font-size: 0.9rem;
  margin-top: 0.5rem;
  border: solid 1px #efefef;
  padding: 0.5rem;
  background-color: #f3f3f3;
  border-radius: 3px;
}

// Quoted tweets
.quoteInfo {
  color: $md-blue-grey-500;
  font-weight: bold;

  .meta {
    font-weight: bold;
  }
}

.quote-meta,
.tweet-meta {
  text-align: right;
}

.tweet-meta {
  padding-left: 0.8rem;
  float: right;
}
